.col-sm-3
  .content
    .cancel
      = link_to 'X', content, method: :delete, data: { confirm: 'Are you sure?' }
    .content-thumbnail
      = image_tag "course-thumbnail.png"
    .content-summary
      .content-title
        = content.title
      .content-info
        %p
          = content.content_type.name
      .content-actions
        = link_to 'Edit Details', edit_content_path(content)


