= form_for @content do |f|
  - if @content.errors.any?
    #error_explanation
      %h2= "#{pluralize(@content.errors.count, "error")} prohibited this content from being saved:"
      %ul
        - @content.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :order
    = f.text_field :order
  .field
    = f.label :chapter
    = f.text_field :chapter
  .field
    = f.label :content_type
    = f.text_field :content_type
  .actions
    = f.submit 'Save'
