- types = "hidden"
- text = "hidden"
= form_for @content do |f|
  = f.hidden_field :chapter_id, value: @chapter.id
  
  - unless f.object.new_record?
    - is_text = @content.content_type.name == "Text"
    - types = "" unless is_text
    - text = "" if is_text

  - if @content.errors.any?
    #error_explanation
      %h4 There was an issue when trying to save this piece of content.

  .row
    .form-group.col-sm-6
      = f.label :title
      = f.text_field :title, class: "form-control"
    .form-group.col-sm-6
      = f.label :content_type, "Type"
      = f.collection_select :content_type_id, ContentType.all, :id, :name, { selected: f.object.content_type_id, prompt: "Select a type" }, {class: "form-control" }

  .row.content-Text{class: text}
    .form-group.col-sm-6
      = f.text_area :text, class: "tinymce"
    - unless f.object.new_record?
      .col-sm-6
        %p
          %b Current Preview
        = @content.text.html_safe

  .row.types{class: types}
    .form-group.col-sm-6
      = f.label :file
      = f.file_field :file, class: "btn btn-primary"
    .col-sm-6
      - if @content.file.attached? && !is_text
        = render "contents/attachment", file: @content.file, type: @content.content_type

  .row
    .actions.col-sm-6
      = f.submit 'Save', class: "btn btn-primary"
      = link_to 'Cancel', edit_chapter_path(@chapter), class: "btn btn-secondary"

= tinymce