%p#notice= notice

%p
  %b Title:
  = @content.title
%p
  %b Order:
  = @content.order
%p
  %b Chapter:
  = @content.chapter
%p
  %b Content type:
  = @content.content_type

= link_to 'Edit', edit_content_path(@content)
\|
= link_to 'Back', contents_path
