%p#notice= notice

%p
  %b Name:
  = @course.name
%p
  %b Subtitle:
  = @course.subtitle
%p
  %b Description:
  = @course.description
%p
  %b Price:
  = @course.price
%p
  %b Duration:
  = @course.duration

= link_to 'Edit', edit_course_path(@course)
\|
= link_to 'Back', courses_path
