.col-sm-3
  .chapter
    .cancel
      = link_to 'X', chapter, method: :delete, data: { confirm: 'Are you sure?' }
    .chapter-thumbnail
      = image_tag "course-thumbnail.png"
    .chapter-summary
      .chapter-title
        = chapter.title
      .chapter-info
        %p
          = chapter.description
      .chapter-actions
        = link_to 'Edit Details', edit_chapter_path(chapter)


