= form_for @chapter do |f|
  = f.hidden_field :course_id, value: @course.id

  - if @chapter.errors.any?
    #error_explanation
      %h4 There was an issue when trying to save this chapter.

  .row
    .form-group.col-sm-6
      = f.label :title
      = f.text_field :title, class: "form-control"
    .form-group.col-sm-6
      = f.label :description
      = f.text_area :description, class: "form-control"
  .row
    .actions.col-sm-6
    = f.submit 'Save', class: "btn btn-primary"
