!!!
%html
  %head
    %title
      Ixmachtia
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = tinymce_assets

  %body
    %header
      .col-sm-9
        Welcome to Course Builder
      .col-sm-3.push-right
        - unless user_signed_in?
          = link_to "Login", new_user_session_path, class: 'btn btn-secondary'
        - else
          Hello
          = current_user.full_name
          = link_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-secondary'

    .wrapper
      .col-sm-2{ id: "nav" }
        Sidebar
        
          
      .col-sm-10{ id: "main" }
        = yield      
